.markdown p {
  color: #f7f7f7;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 2em;
}


.markdown h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.markdown h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.markdown h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.markdown ul {
  list-style-type: disc;
  margin-left: 2rem; 
}

.markdown a {
  color: darkslategray;
  border-bottom: 1px solid darkslategray;
  text-decoration: none;
  padding-bottom: 2px;
}

.markdown a:hover {
  color: blue;
  border-bottom: 20, solid,black; 
}

.markdown pre {
  background-color: #292929; /* Light gray background */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 5px; /* Rounded corners */
  padding: 1rem; /* Padding inside the block */
  overflow-x: auto; /* Horizontal scrolling for long lines */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  font-size: 0.9rem; /* Slightly smaller font size */
  line-height: 1.5; /* Better readability */
  margin-bottom: 1.5rem; /* Space below the block */
}

.markdown code {
  border-radius: 3px; /* Slightly rounded corners */
  padding: 0.2rem 0.4rem; /* Padding around inline code */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  font-size: 0.9rem; /* Match <pre> font size */
}

.markdown pre code {
  color: #cccccc;
}

.markdown img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  overflow-y: scroll;
}

.markdown blockquote {
  border-left: 4px solid #ccc; /* Left border */
  padding-left: 1rem; /* Padding on the left */
  color: #666; /* Text color */
  margin: 1rem 0; /* Margin above and below */
  font-style: italic; /* Italic text */
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  overflow-x: auto;
  display: block;
  max-width: 100%;
}

.markdown thead tr {
  background-color: #1e293b; /* Example primary color, adjust as needed */
  color: #fff;
}

.markdown th,
.markdown td {
  border: 1px solid #444;
  padding: 0.2rem 0.75rem;
  text-align: left;
  font-size: 0.7rem;
}

.markdown tbody tr:nth-child(even) {
  background-color: #f7f7f7; /* Light background for even rows */
  color: #222;
}

.markdown tbody tr:nth-child(odd) {
  background-color: #222; /* Slightly darker for odd rows */
  color: #f7f7f7;
}

.markdown table {
  overflow-x: auto;
  display: block;
  max-width: 100%;
}

/* Optional: make table horizontally scrollable on small screens */
.markdown table {
  width: max-content;
  min-width: 100%;
}

.markdown img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  max-height: 500px;
}